<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width= device-width,initial-scale=1.0">
        <title>Buyer</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
    <body>
        <section>
        <div class="box">
            <div class="container">
                <div class="form">
                    <hr>
                    <h1>USI</h1>
                    
                    <form 
                    >
                        <div class="input-field">
                            <div class="form-group">
                            <ul><i class="fa-solid fa-cart-shopping"></i>&nbsp; Product Name</ul>
                            <input class ="form-control"type="text" 
                             placeholder="product name">



                            </div>
                        </div>

                        <div class="input-field">
                            <div class="form-group">
                            <ul> <i class="fa-thin fa-angles-right"></i> &nbsp; Product Type</ul>
                            <input class ="form-control"type="text" 
                             placeholder="product Type">



                            </div>
                        </div>

                        <div class="input-field">
                            <div class="form-group">
                            <ul><i class="fa-solid fa-user"></i>&nbsp; Product Quantity</ul>
                            <input class ="form-control"type="text" 
                             placeholder="product quantity in KG">
                            </div>
                        </div>

                        <div class="input-field">
                            <div class="form-group">
                            <ul><i class="fa-solid fa-indian-rupee-sign"></i> &nbsp; MRP PER KG</ul>
                            <input class ="form-control"type="text" 
                             placeholder=" Price in rupees">
                            </div>
                        </div>

                        <div class="input-field">
                            <div class="form-group">
                            <ul><i class="fa-solid fa-location-dot"></i> &nbsp;Product LOCATION</ul>
                            <input class ="form-control"type="text" 
                             placeholder="address of the product">
                            </div>
                        </div>



                        
                
                        <div class="input-field">
                        <label>UPLOAD product image &nbsp;:</label>
                        <input  input type="file" class="file-upload">
                        </div>
                        <br>
                        <button>Validate</button>

                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>